*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.nav-container{
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding: 10px;
  font-weight: bold;
  background-color:rgb(190, 228, 254);
}
.nav-list{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.nav-item{
  margin-right: 50px;
}

.link{
  text-decoration: none;
  color: black;

}

.link:hover{
border-bottom: 2px solid rgb(105, 164, 140);
}

h2{
  margin-top: 55px;
}
.cart{
display: flex;
flex-direction: column;
align-items:center;

}

.item{
  display: flex;
  align-items:center;
  justify-content: space-between;
  border-top: 2px solid rgba(40, 133, 162, 0.631);
  border-bottom: 2px solid rgba(40, 133, 162, 0.631);
  margin: 15px;
  padding: 15px;
}

.item img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
}

.item-controls{
  display: flex;
  align-items: center;
}
.quantity{
  margin: 0 10px;
}

.total{
margin-top: 20px;
}

.total-price{
font-weight: bold;
}

.checkout{
margin-top: 20px;
}

.remove-btn{
  margin-left: 15px;
}

button{
  background-color:rgb(140, 204, 217) ;
  color: white;
  border: none;
  padding:  8px 16px;
  font-size: 15px;
  
  border-radius: 5px;
}

button:hover{
  background-color:rgb(133, 189, 166);
}

